go 1.18

use (
	./common
	//./engine
	//./testnet
	//./withdrawals
	//./sanity-l1-geth
	./sanity/l1-geth
	./sanity/protocol-l1
	./sanity/protocol-l2
	./sanity/l2-taiko-geth
	./sanity/l2-taiko-client
	./sanity/l2-driver
)
